/* Global */
html {
  font-family: 'Source Sans Pro', sans-serif;
}
/* Login */
.loginHead {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Home Page */
.header {
  background: #353f4e;
  color: white;
  padding: 10px 20px;
  border-bottom: #378eaf solid 8px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 1.3rem;
}

a.appName.navbar-brand,
a.appName.navbar-brand:hover {
  color: white;
  text-decoration: none;
  font-family: 'Slabo 27px', serif;
  font-size: 2.0rem;
}

.section {
  padding: 1rem;
}

.listTitle {
  font-size: 2.0rem;
  font-family: 'Slabo 27px', serif;
  margin: 2rem 10rem;
  border-bottom: lightgrey solid 2px;
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  max-height: 11rem;
  overflow: scroll;
  margin: 0 10%;
  text-align: center;
}

.list-group-item {
  height: 2.5ew;
  padding: 8px;
  font-size: 1.1rem;
}

.dependency {
  text-align: center;
}


/* Search Bar */
.searchContainer {
  background: #f1f1f1;
  padding: 3.5rem 17rem;
}

input.form-control {
  height: 55px;
  font-size: 1.2rem;
}

a.nav-item.nav-link[data-rb-event-key="accounts"] {
  background: #378eaf;
  color: white;
  border: none;
  font-size: 1.4rem;
  text-align: center;
  width: 33.33%;
}

a.nav-item.nav-link[data-rb-event-key="users"] {
  background: #a6a6a6;
  color: white;
  border: none;
  font-size: 1.4rem;
  text-align: center;
  width: 33.33%;
}

a.nav-item.nav-link[data-rb-event-key="processes"] {
  background: #a2c3cc;
  color: white;
  border: none;
  font-size: 1.4rem;
  text-align: center;
  width: 33.33%;
}

.mb-3.searchInput.input-group {
  padding: 1.2rem;
  border-radius: 0 0rem 0.25rem 0.25rem;
}

button.btn.btn-outline-secondary {
  border: 1px solid #ced4da;
  background: white;
}

/* Owner */

.pageInfo {
  padding: 1rem 2.5rem;
  font-family: 'Slabo 27px', serif;
}

.pageInfoText {
  display: inline-block;
  padding-left: 1rem;
}

/* Process */

.processHeader {
  background: #f1f1f1;
  padding: 1rem 2rem;
  font-family: 'Slabo 27px', serif;
}

.processBody {
  margin: 0 auto;
  padding: 1rem 10rem;
  font-size: 1.3rem;
}

.stepName {
  font-weight: bold;
}

.stepData {
  padding: 0.8rem;
}

.editProcessInfo {
  margin-bottom: 1.5em;
  padding: 14px;
  background-color: #f1f1f1;
}

.editProcessInfo h2 {
  font-size: 1.5rem;
}
.editProcessInfo .input-group {
  margin-bottom: 0.5em;
}

.input-group-text {
  background: #008fb3;
  color: white;
  font-weight: bold;
}

.processInput a.nav-item.nav-link {
  background: #f1f1f1;
  border: white solid 1px;
  width: 14.286%;
  text-align: center;
  color: black;
}

.processInput a.nav-item.nav-link.active {
  background: #008fb3;
  color: white;
}

.processImageTitle {
  font-style: italic;
}

.processVideoTitle {
  font-style: italic;
}

.processVideo {
  width: 100%;
  height: 36rem;
}

/* Icons */

i.fas.fa-chart-line.icon {
  color: #85ab85;
}

i.fa.fa-user.ownerGlyph {
  color: #f5d491;
}

.icon{
  font-size: 8rem;
  margin: 0;
  color: #378eaf;
}

i.fas.fa-clipboard-list.icon {
  color: #a2c3cd;
}

i.fas.fa-cloud.icon {
  color: #aaabca;
  /* border: black; */
}

i.fas.fa-comments-dollar {
  padding-right: 1rem;
}