/* Global */
html {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Home Page */
.header {
  background: #353f4e;
  color: white;
  padding: 10px 20px;
  border-bottom: #378eaf solid 8px;
  font-family: 'Slabo 27px', serif;
}

.section {
  padding: 1rem;
}
.listTitle {
  font-size: 2.0rem;
  font-family: 'Slabo 27px', serif;
  margin: 2rem 10rem;
  border-bottom: lightgrey solid 2px;
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  max-height: 11rem;
  overflow: scroll;
  margin: 0 10%;
  text-align: center;
}

.list-group-item {
  height: 2.5ew;
  padding: 8px;
  font-size: 1.1rem;
}

.dependency {
  text-align: center;
}


/* Search Bar */
.searchContainer {
  background: #f1f1f1;
  padding: 3.5rem 17rem;
}

input.form-control {
  height: 55px;
  font-size: 1.2rem;
}

a.nav-item.nav-link[data-rb-event-key="accounts"] {
  background: #378eaf;
  color: white;
  border: none;
  font-size: 1.4rem;
  text-align: center;
  width: 33.33%;
}

a.nav-item.nav-link[data-rb-event-key="users"] {
  background: #a6a6a6;
  color: white;
  border: none;
  font-size: 1.4rem;
  text-align: center;
  width: 33.33%;
}

a.nav-item.nav-link[data-rb-event-key="processes"] {
  background: #a2c3cc;
  color: white;
  border: none;
  font-size: 1.4rem;
  text-align: center;
  width: 33.33%;
}

.mb-3.searchInput.input-group {
  padding: 2rem;
  border-radius: 0 0.25rem 0.25rem 0.25rem
}

button.btn.btn-outline-secondary {
  border: 1px solid #ced4da;
  background: white;
}

/* Owner */

.ownerInfo {
  padding: 0.5rem 2.5rem;
}

.ownerText {
  font-family: 'Slabo 27px', serif;
}


/* Process */

.processHeader {
  background: #f1f1f1;
  padding: 1rem 2rem;
  font-family: 'Slabo 27px', serif;
}

.processBody {
  margin: 0 auto;
  padding: 1rem 10rem;
  font-size: 1.3rem;
}

.stepName {
  font-weight: bold;
}

.stepData {
  padding: 0.8rem;
}

/* Icons */

i.fas.fa-chart-line.icon {
  color: #85ab85;
}

i.fa.fa-user.ownerGlyph {
  color: #f5d491;
}

.icon{
  font-size: 8rem;
  margin: 0;
  color: #378eaf;
}

i.fas.fa-clipboard-list.icon {
  color: #a2c3cd;
}

i.fas.fa-cloud.icon {
  color: #aaabca;
  /* border: black; */
}